@font-face{
    font-family: Roboto;
    src:url(../fonts/Roboto-Regular.ttf);
}

body ,html{
    font-family: Georgia;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
button.close{
    position: absolute;
    right: 2%;
}

h1{
    color: #636971;
    text-align: center;
    font-weight: 400;
    line-height: 1.83;
    letter-spacing: 0px;
    font-size: 24px;
    text-transform: uppercase;
}
p{
    line-height: 2.12;
    letter-spacing: 0px;
    font-size: 17px;
    color: #333b46;
    font-weight: normal;
}
.title{
    margin-bottom: 70px;
}

.min-menu{
    background: #19bd9a;
    border-radius: 3px;
    position: absolute;
    padding: 10px 7px;
    z-index: 2000;
    top:0;
    left: 0;
}
#navigation-min{
    display: none;

}
#navigation-min li a:hover {
    border-bottom: 1px solid #19bd9a;
    background: none;
}
#navigation-min li a:focus{
    border-bottom: 1px solid #19bd9a;
    outline: none;
}
#navigation-min li a{
    border-bottom: 1px solid transparent;
}

#navigation-min li a{
    color: #636971;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    padding-left: 0px;
}
.min-menu:hover {
    background-color: #81868e;
    cursor: pointer;
}
#navigation-min .social li a:hover{
     border: none;
    background: none;
 }
#navigation-min .social li a:focus{
    border: none;
}

#navigation-min .nav-pills>li.active {
    background-color: transparent;
    color: #636971;
    border-bottom: 1px solid #19bd9a;
}

.bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.navigation{
    padding-top: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background: #f5f5f5;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    width: 20%;
}
.navigation ul{
    margin-top: 85px;
}
.navigation li a{
    color: #636971;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    padding-left: 0px;
}
.navigation li a:hover{
    border-bottom: 1px solid #19bd9a;
}
.nav-pills>li.active>a ,.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: transparent;
    color: #636971;
    border-bottom: 1px solid #19bd9a;
}

.social{
    position: absolute;
    bottom: 10px;
}
.social li a:hover{
    border: none;
}
.social li a img:hover{
    filter:grayscale(0%);
}

.blackeffect{

    filter:grayscale(100%);
}

#home{
    background: url("../img/contact.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 100px;
}

.btn-grey{
    background-color: #19bd9a;
    color: white;
    font-size: 18px;
}
.btn-grey:focus{
    color: white;
    box-shadow: 0 0 8px 0 #81868e;
    border: none;
}
.btn-grey:active{
    color: white;
    border: none;
}
.btn-grey:hover{
    background-color:#81868e;
    color: white;
}

#about{
    padding-bottom: 50px;
    background: white;
    padding-top: 50px;
}
h2 {
    color: #333b46;
}
.wedding_row div{
    margin-bottom: 10px;
}
#wedding{
    padding-top: 50px;
  padding-bottom: 50px;
    height: 100vh;
}
#wedding img{
    width: 100%;

}
#wedding p{
    padding-top: 10px;
}
#wedding a:hover{
    filter: opacity(50%);
    border: none;
}
#wedding a:focus{
    border: none;
}
#wedding img:hover{
    cursor: pointer;
}
#corporate{
    padding-top: 50px;
    padding-bottom: 75px;

}
.corporate-image{
    filter:grayscale(100%);
}
.corporate-image:hover{
    cursor: pointer;
    filter:grayscale(0%)
}

#rewiews{
    padding-top: 50px;
    padding-bottom: 100px;
}

.carousel-indicators .active{
    background-color: #19bd9a;

}
.carousel-indicators li{
    border: 1px solid #19bd9a;
}
.carousel-inner .item{
    padding: 50px;
}
.carousel-inner{
    padding-bottom: 40px;
}
#myCarousel1 .carousel-indicators li {
    border: 1px solid #fff;
    display: table;
    margin-bottom:10px;

}
#myCarousel1 .carousel-indicators{
    margin-left: 0px;
    left: 95%;
    top:40%;
    width: 0;

}
#myCarousel1 .carousel-indicators .active {
    background-color: transparent;
}
.avatar{
    border-radius: 100%;
    width: 100%;
    margin-top: 50%;
}
#contact{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../img/corporate_mcota/mcota6.jpg") no-repeat;
    filter:grayscale(100%);
    background-size: cover;
    min-height: 100vh;
    z-index: -1;
}

#contact p , #contact h2{
    color: white;
}